:root {
    --bulma-navbar-height: 5rem;
}

$font-body: "Fira Sans", "sans-serif";
$font-headings: "Montserrat", "sans-serif";

// @use "bulma/bulma.scss" with (
//     $navbar-height: $navbar-height
// );
