.signs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }

    :is(img) {
        max-height: 250px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
